body{
  padding: 30%;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;

  margin: auto;
}

.form-login .form-login-heading,
.form-login .checkbox{
  margin-bottom: 20px;

}
.form-login .form-control{
  position: relative;
  height: auto;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-login .form-control:focus{
  z-index: 2;
}
.form-login input[type="user"]{
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-login input[type="pass"]{
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
img{
  width: 200px;
  margin-right: 15%;
  margin-left: 30%;
  margin-top: 50px;
  margin-bottom: 20px;
}
